{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-left">{{ foodSupplier.name }}</h1>
        </div>
        <div class="col-md-6">
            <a class="pull-right btn btn-danger" href="{{ path('foodsupplier_delete', {id: foodSupplier.id}) }}">Delete</a>
            <a class="pull-right btn btn-primary" href="{{ path('foodsupplier_edit', {id: foodSupplier.id}) }}">Edit</a>
            <a class="pull-right btn btn-primary" href="{{ path('foodsupplier_index') }}">Back</a>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="food-supplier-details">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Delivery cost</th>
                        <th>Free delivery threshold</th>
                        <th>Single package cost</th>
                        <th>Phone number</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-left">
                        <td class="food-supplier-name">{{ foodSupplier.name }}</td>
                        <td class="food-supplier-delivery-cost">{{ foodSupplier.deliveryCost }}</td>
                        <td class="food-supplier-free-delivery-threshold">{{ foodSupplier.freeDeliveryThreshold }}</td>
                        <td class="food-supplier-single-package-cost">{{ foodSupplier.singlePackageCost }}</td>
                        <td class="food-supplier-phone-number">{{ foodSupplier.phoneNumber }}</td>
                        <td class="food-supplier-website-url">{{ foodSupplier.websiteUrl }}</td>
                    </tr>
                </tbody>
            </table>

            {% if foodSupplier.menuUrl is not empty %}
                <p class="food-supplier-menu-url text-left">Menu url: <a href="{{ foodSupplier.menuUrl }}">See menu</a></p>
            {% endif %}

            <a href="{{ path('menuitem_new', {'foodSupplierId': foodSupplier.id}) }}" class="btn btn-primary pull-left">Add menu item</a>
            {% if foodSupplier.menuItems is not empty %}
                <table class="table table-striped" id="food-supplier-menu-items">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for menuItem in foodSupplier.menuItems %}
                        <tr class="menu-item-{{ loop.index0 }} text-left">
                            <td class="menu-item-name">{{ menuItem.name }}</td>
                            <td class="menu-item-price">{{ menuItem.price }}</td>
                            <td>
                                <a class="btn btn-danger pull-right" href="{{ path('menuitem_delete', { 'foodSupplierId': foodSupplier.id, 'menuItemId': menuItem.id }) }}">delete</a>
                                <a class="btn btn-primary pull-right" href="{{ path('menuitem_edit', { 'foodSupplierId': foodSupplier.id, 'menuItemId': menuItem.id }) }}">edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}
